<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Khai báo bảng mã ký tự là UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Thiết lập hiển thị trên các thiết bị di động -->
    <title>Video Player</title> <!-- Đặt tiêu đề trang -->
    <style>
        canvas {
            border: 1px solid #000; /* Thiết lập đường viền cho thẻ canvas */
        }
    </style>
</head>
<body>
    <h1>Playing Video: {{ video_name }}</h1> <!-- Hiển thị tên video -->
    <video width="1024" height="576" controls id="videoPlayer">
        <source src="{{ url_for('static', filename='videos/' + video_name + '.mp4') }}" type="video/mp4"> <!-- Nguồn video và định dạng -->
    </video>

    <canvas id="drawingCanvas" width="1024" height="576"></canvas> <!-- Vùng vẽ trên canvas -->
    <button id="captureButton">Vẽ bên ngoài</button> <!-- Nút để chụp ảnh từ video và vẽ hình chữ nhật -->
    <button id="stopButton">Vẽ bên trong</button> <!-- Nút để dừng hoặc tiếp tục vẽ hình chữ nhật -->
    <button id="viewCoordinatesButton">Xem các điểm</button>
    <script>
        // Lấy các phần tử HTML vào biến JavaScript
        var video = document.getElementById("videoPlayer");
        var canvas = document.getElementById("drawingCanvas");
        var context = canvas.getContext("2d");
        var captureButton = document.getElementById("captureButton");
        var stopButton = document.getElementById("stopButton");
        var viewCoordinatesButton = document.getElementById("viewCoordinatesButton");
        // Các biến quản lý vẽ và lưu tọa độ
        var redDotRadius = 5; // Bán kính của điểm đỏ
        var clickedPoints = [];
        var clickedPoints1 = [];
        var pointA, pointB, pointC, pointD;
        var pointA1, pointB1, pointC1, pointD1;
        var drawingEnabled = false;
        var drawingNewRectangle = false;
        var canClickCanvas = true; // Biến kiểm tra để quản lý sự kiện click

        //Thêm sự kiện click cho nút "Xem Tọa Độ Ngoài"
        viewCoordinatesButton.addEventListener('click', function() {
            window.open('/view_coordinates', '_blank');
        });
        // Xử lý sự kiện click nút chụp ảnh
        captureButton.addEventListener('click', function() {
            clickedPoints = [];
            clickedPoints1 = [];
            context.drawImage(video, 0, 0, 1024, 576); // Vẽ hình ảnh từ video lên canvas
            drawingEnabled = true;
            drawingNewRectangle = false;
        });

        // Xử lý sự kiện click trên canvas
        canvas.addEventListener('click', function(event) {
            if (!drawingEnabled || (clickedPoints.length >= 4 && !drawingNewRectangle) || !canClickCanvas) {
                return;
            }
            // Lấy tọa độ x, y khi click
            var x = event.offsetX;
            var y = event.offsetY;

            if (!drawingNewRectangle) {
                // Lưu tọa độ vào mảng clickedPoints
                clickedPoints.push({ x: x, y: y });
                // Xử lý khi đã có đủ 4 điểm
                if (clickedPoints.length === 4) {
                    clickedPoints.sort(function(a, b) {
                        return a.y - b.y;
                    });
            // Gán giá trị cho A, B
            if (clickedPoints[0].x < clickedPoints[1].x) {
                pointA = clickedPoints[0];
                pointB = clickedPoints[1];
            } else {
                pointA = clickedPoints[1];
                pointB = clickedPoints[0];
            }

            // Gán giá trị cho C, D
            if (clickedPoints[2].x < clickedPoints[3].x) {
                pointD = clickedPoints[2];
                pointC = clickedPoints[3];
            } else {
                pointD = clickedPoints[3];
                pointC = clickedPoints[2];
            }

            drawLines(); // Vẽ hình chữ nhật
                    alert("Đã lưu tọa độ của 4 điểm cuối cùng: " + JSON.stringify(clickedPoints));
                    drawingEnabled = false;
                    drawingNewRectangle = true;
                    checkAndSendData(); // Kiểm tra và gửi dữ liệu khi cả hai mảng đều đủ giá trị
                }
            } else {
        // Xử lý khi đã có đủ 4 điểm cho mảng clickedPoints1
        clickedPoints1.push({ x: x, y: y });
        if (clickedPoints1.length === 4) {
            clickedPoints1.sort(function(a, b) {
                return a.y - b.y;
            });

            // Gán giá trị cho A1, B1
            if (clickedPoints1[0].x < clickedPoints1[1].x) {
                pointA1 = clickedPoints1[0];
                pointB1 = clickedPoints1[1];
            } else {
                pointA1 = clickedPoints1[1];
                pointB1 = clickedPoints1[0];
            }

            // Gán giá trị cho C1, D1
            if (clickedPoints1[2].x < clickedPoints1[3].x) {
                pointD1 = clickedPoints1[2];
                pointC1 = clickedPoints1[3];
            } else {
                pointD1 = clickedPoints1[3];
                pointC1 = clickedPoints1[2];
            }

            drawLines1();
            alert("Đã lưu tọa độ của 4 điểm cuối cùng: " + JSON.stringify(clickedPoints1));

            checkAndSendData(); // Kiểm tra và gửi dữ liệu khi cả hai mảng đều đủ giá trị
        }
    }
    drawRedDot(x, y);
});
// Xử lý sự kiện click Bên trong
stopButton.addEventListener('click', function() {
    if (drawingNewRectangle) {
        drawingEnabled = true;
    } else {
        drawingEnabled = false;
    }
});
 // Gửi dữ liệu tọa độ lên server
function sendDataToFlask() {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/save_coordinates", true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

    var data = {
        clickedPoints: clickedPoints,
        clickedPoints1: clickedPoints1
    };

    xhr.send(JSON.stringify(data));
}
 // Kiểm tra và gửi dữ liệu nếu đã đủ tọa độ
function checkAndSendData() {
    if (clickedPoints.length === 4 && clickedPoints1.length === 4) {
        sendDataToFlask();
        canClickCanvas = false; // Đặt biến kiểm tra thành false khi đủ 4 điểm
    }
}
// Vẽ điểm đỏ
function drawRedDot(x, y) {
    context.beginPath();
    context.arc(x, y, 4, 0, 2 * Math.PI);
    context.fillStyle = 'red';
    context.fill();
    context.stroke();
}
  // Vẽ hình chữ nhật ngoài
function drawLines() {
    const lineStyle = {
        width: 4,
        color: 'red'
    };

    drawLine(pointA, pointB, lineStyle);
    drawLine(pointB, pointC, lineStyle);
    drawLine(pointC, pointD, lineStyle);
    drawLine(pointD, pointA, lineStyle);
}
  // Vẽ hình chữ nhật trong
function drawLines1() {
    const lineStyle = {
        width: 4,
        color: 'green'
    };

    drawLine(pointA1, pointB1, lineStyle);
    drawLine(pointB1, pointC1, lineStyle);
    drawLine(pointC1, pointD1, lineStyle);
    drawLine(pointD1, pointA1, lineStyle);
}
 // Vẽ đoạn thẳng từ startPoint đến endPoint
function drawLine(startPoint, endPoint, lineStyle) {
    context.beginPath();
    context.moveTo(startPoint.x, startPoint.y);
    context.lineTo(endPoint.x, endPoint.y);
    context.lineWidth = lineStyle.width;
    context.strokeStyle = lineStyle.color;
    context.stroke();
}

</script>
</body>
</html>
